/.idea
/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/storage/*.key
/storage/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
.editorconfig
.env
.env.example
.env.backup
.gitattributes
.gitignore
.styleci.yml
.phpunit.result.cache
docker-compose.yml
docker-compose.override.yml
phpunit.xml
README.md
server.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
