.logo {
    ::after {
        background-image: url('../img/logo.svg');
    }

    height: 60px;
}

h1 {
    border-bottom: $border-color 1px solid;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

.videos {
    min-height: 150px;
    padding-bottom: 2em;
    border: $border-color 1px solid;
    position: relative;
    transition: box-shadow .2s;

    &.hovered {
        box-shadow: $primary 0 0 5px;
    }

    > ul {
        margin: -1px;
    }

    > .drag-notice {
        color: $text-muted;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin-bottom: .2em;
        z-index: -1;
    }

    > .video-drop-label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        cursor: pointer;
    }
    > .hidden {
        display: none;
    }
}

.list-group-item:hover {
    background-color: #f8f9fa;
}
