.logo {
    ::after {
        background-image: url('../img/logo.svg');
    }

    height: 60px;
}

h1 {
    border-bottom: $border-color 1px solid;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}
