.logo {
    ::after {
        background-image: url('../img/logo.svg');
    }

    height: 60px;
}

h1 {
    border-bottom: $border-color 1px solid;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

a.in-title {
    font-size: 1rem;
    font-weight: normal;
}

h1 > a.in-title {
    line-height: 3rem;
}

h2 > a.in-title {
    line-height: 1.8rem;
}

h3 > a.in-title {
    line-height: 1.2rem;
}

label {
    font-weight: bold;
}

.text-pre-wrap {
    white-space: pre-wrap;
}

.vote-option {
    > input {
        position: absolute;
        left: -100px;
        max-width: 100px;
        overflow: hidden;
    }

    > label {
        display: block;
        padding: .5em .8em;
        border: $border-color $border-width solid;
        cursor: pointer;

        > .selected {
            display: none;
        }
    }

    > input:checked + label {
        background: $light;
        border-color: $dark;

        > .selected {
            color: $success;
            display: inline-block;
        }
    }

    > input:focus + label {
        border: 1px dotted $dark;
    }
}
