.evidence-table {
    td {
        width: 33%;
    }
}

.evidence-badge {
    display: inline-block;
    height: 2em;
    width: 2em;
    vertical-align: bottom;

    &:empty {
        display: inline-block;
    }
}
